<button (click)="agruparPorFecha()">Agrupar por fecha</button>
<button (click)="agruparPorMes()">Agrupar por mes</button>
<button (click)="agruparPorAno()">Agrupar por año</button>
<hr>
<button (click)="sinSeparar()">Sin separar</button>
<button (click)="separarPorAnimal()">Separar por animal</button>
<button (click)="separarPorVeterinario()">Separar por veterinario</button>
<hr>
<div id="oficial-atention-count"></div>
<button (click)="imprimirLinea()">Imprimir Linea oficial</button>
<button (click)="imprimirPie()">Imprimir pie oficial</button>
<button (click)="imprimirLineaCSV()">Imprimir Linea CSV oficial</button>
<div id="oficial-line-canva"></div>
<div id="oficial-pie-canva"></div>

<div id="digital-watch-canvas"></div>
<div id="line-canvas"></div>
<div id="pie-canvas"></div>


<router-outlet></router-outlet>
